/Boas Práticas para aplicar nos testes.pdf
/cadastros_pessoas.txt
/calc.py
/calcular meses.txt
/ceps
/ceps2
/comparador.py
/DASHBOARDS
/desktop.ini
/Downloads - Atalho.lnk
/exe_teste.py
/GIFS
/Homologação.docx
/LAYOUT SISPREV.xlsx
/LORE
/Luiz Felipe - Chrome.lnk
/Microsoft SQL Server Management Studio 18.lnk
/modelo testee.jpg
/MS
/OfficeOnline.url
/OutlookOnline.url
/primeira_pag.xlsx
/sei que nada sei
/setup-lightshot.exe
/SLA.txt
/teste report.docx - Atalho.lnk
/testeeeee.py
/The Flash v4 00 (Novos 52).pdf
/venv (1)
/venv (1).rar
/WPS Office.lnk